# Configuration for HP OfficeJet 52xx Certificate Installer
# Sourced by /usr/local/bin/oj52xx-cert.sh

# Set insecure if current printer certificate is expired, self-signed, or invalid.
INSECURE=0
# Set verbose if you want to pass the -v option to curl
VERBOSE=0

# Printer Hostname (without domain)
PHOST=hp-printer
# Printer domain name (without hostname)
PDOM=example.com

# Printer Admin Credentials
PUSER=admin
PPASS=

# Location of the Let's Encrypt live folder
LELIVE=/etc/letsencrypt/live

